* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-size: 18px;
  font-family: sans-serif;
}

.btn {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #fff;
  background: green;
  font-size: min(100px, 20vw);
}
.btn::after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  
  background: inherit;
}

.btn_stop {
  background: red;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
}